
* {
  box-sizing: border-box;
}

body {
  background: #0e0e0e;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(27, 27, 27) 49%,
    rgb(0, 0, 0) 92%
  );
  margin: 0%;
  padding-top: 50px;
}

html {
  scroll-behavior: smooth;
  /* Ajusta este valor al alto de tu barra + un extra de cortesía */
  scroll-padding-top: 130px;
}

.barra-navegacion {
  background: #000000e5;
  display: flex;
  position: fixed;
  justify-content: right;
  align-items: center;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #dcba708a;
  z-index: 1000;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0;
}

#botones {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  gap: 40px;
  align-items: center;
}

#botones a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

#botones a:hover {
  color: #dcba70;
  transition: all 0.3s ease;
}

#logo-barra{
  margin-right: auto;
}

.contenedor-foto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado-general {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px;
}

.foto-principal {
  opacity: 0.5;
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.img-resumen {
width: 700px;
border-radius: 18px;
opacity: 0.9;
}

h1 {
  font-family: "Lexend", sans-serif;
  color: #dcba70;
  position: absolute;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px 8px rgba(216, 175, 86, 0.641);
  font-size: 60px;
  width: 70%;
}

.parrafo1 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
  color: rgb(91, 91, 91);
  margin-top: 40px;
  font-size: 15px;
}

h2 {
  font-family: "Lexend", sans-serif;
  color: #d2ae5f;
  width: 60%;
  font-weight: 600;
  font-size: 35px;
  margin: 0;
  margin-top: 20px;
  text-align: left;
}



p {
  font-family: "Lexend", sans-serif;
  color: rgb(255, 255, 255);
  width: 60%;
  font-size: 18px;
  justify-content: center;
  line-height: 1.5;
}


 /* TARJETAS PROTAGONISTAS */
.seccion-protagonistas {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.seccion-zelda, .seccion-link, .seccion-link, .seccion-ganon {
width: 100%;
  max-width: 55%;
  min-width: 0;
  display: flex;
  margin-top: 30px;
  border: 2px solid #af904f;
  margin: 0 auto;
  justify-content: space-between;
align-items: stretch;
border-radius: 20px;
overflow: hidden;
flex-direction: column;
background-color: #0f0f0f;
}

.informacion-abajo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.linea-dorada {
  background-color: #af904f; 
 padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  width: 100%;
  text-align: left;

}

.subtitulo-zelda, .subtitulo-link, .subtitulo-ganon {
  font-family: "Lexend", sans-serif;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.85rem;
  font-weight: bold;
}

.titulo-zelda, .titulo-link, .titulo-ganon {
  color: #dcba70;
  font-size: 2.5rem;
  text-shadow: 7px 1px #dcba7038;
}

.img-zelda-seccion, .img-link-seccion, .img-ganon-seccion {
  flex: 1;
  width: 100%;
  max-width: 240px; 
 min-width: 0;
  object-fit: cover;
  display: block;
}

.info-personaje {
  flex: 2;
  text-align: left;
  min-width: 0;
 padding-left: 40px;
}

.parrafo-zelda, .parrafo-link, .parrafo-ganon{
  color: #e9e9e9e1;
width: 100%;
  max-width: 90%;
  min-width: 200px;
}

.cita-personaje {
    padding-left: 20px;
   margin-bottom: 20px;
    border-left: 3px solid #af904f; 
    font-family: "Lexend", sans-serif;
    font-style: italic;
    color: #dcba70;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 500px; 
    opacity: 0.9;
    width: 90%;
}

.centrado-tarjetas {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
  max-width: 850px;
  margin: auto;
  gap: 20px;
  margin-bottom: 50px;
}

.tarjeta-zora,
.tarjeta-orni,
.tarjeta-gerudo,
.tarjeta-goron {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #af904f;
  padding: 20px;
  border-radius: 15px;

  flex: 1 1 410px;      /* 1: Crece, 1: Se encoge, 350px: tamaño base */
    max-width: 450px;
}

.titulo-zora,
.titulo-gerudo,
.titulo-goron,
.titulo-orni {
  color: #af904f;
    text-shadow: 6px 1px #dcba7038;
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-size: 30px;
}

.tarjeta-zora img,
.tarjeta-goron img,
.tarjeta-orni img {
  width: 80%;
  height: 250px;
  display: block;
  margin-top: 10px;
  object-fit: contain;
}

.tarjeta-gerudo img {
  width: 50%;
  height: 250px;
  display: block;
  margin-top: 10px;
  object-fit: contain;
}

.resaltado-parrafos {
  font-family: "Lexend", sans-serif;
  color: #d2ae5f;
  font-weight: 700; /* Me permite engrosar la fuentee*/
}

.texto-zora,
.texto-orni,
.texto-gerudo,
.texto-goron {
  font-family: "Lexend", sans-serif;
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  text-align: center;
  margin-top: 5px;
}

.trailer {
  text-align: center;
}

.trailer-foto {
  margin-top: 10px;
  border-radius: 15px;
}

.texto-trailer h2 {
  display: flex;
  text-align: center;
}

.linea {
  height: 1px;
  background: #af904f;
  width: 60%;
  margin-top: 40px;
}



.tarjeta-zora:hover,
.tarjeta-orni:hover,
.tarjeta-goron:hover,
.tarjeta-gerudo:hover {
  transform: scale(1.1);
}

.tarjeta-zora,
.tarjeta-orni,
.tarjeta-goron,
.tarjeta-gerudo {
  transition: all 0.4s ease; 
}

.resaltado-creador {
  font-family: "Lexend", sans-serif;
  color: #d2ae5f;
  font-weight: 700;
}

.creador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Lexend", sans-serif;
    font-size: 14px;
    color: #c0c0c0;
    padding-bottom: 50px;
    padding-top: 30px;
}

.parrafo-tribus {
  margin-bottom: 40px;
}

.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.parrafo-habilidades {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
}

.parrafo-habilidades p {
  margin: 0;
  width: 60%;
}

@media screen and (max-width: 767px) {
  .foto-principal {
    height: 65vh;
  }

  h1 {
    font-size: 35px;
  }

.parrafo1 {
    font-size: 13px;
    width: 90%;
  }

p {
  color: rgba(255, 255, 255, 0.842);
    width: 80%;
    font-size: 16px;
    text-align: left; 
    font-size: 16px;  
 line-height: 1.5;
  }

  
  h2 {
    width: 70%;
    font-size: 25px;
  }

  .img-resumen {
    padding-top: 10px;
    width: 80%;
  }

.tarjeta-zora,
.tarjeta-orni,
.tarjeta-gerudo,
.tarjeta-goron {
  width: 80%;
}

.centrado-tarjetas {
  flex-direction: column;
  align-items: center;
}

.parrafo-habilidades p {
  width: 80%;
}

.linea {
  width: 80%;
}

  .trailer-foto {
    width: 100%;
    height: 250px;
    
  }

.creador {
    font-size: 12px;
}

#botones a {
  font-size: 11px;
  padding: 8px 12px;
}

#botones {
    gap: 10px;
}

#logo-barra {
    display: none; 
  }

  #botones a:hover {
  color: #ffffff;
  transition: all 0.3s ease;
}

.tarjeta-zora:hover,
.tarjeta-orni:hover,
.tarjeta-goron:hover,
.tarjeta-gerudo:hover {
  transform: scale(1.0);
  background: rgb(10, 10, 10);
}
.creador {
    flex-direction: column;
  }

 .informacion-abajo {
  flex-direction: column;
 } 
 
 .img-ganon-seccion, .img-link-seccion, .img-zelda-seccion {
width: 100%;
max-width: 100%;
    border-top: 1px solid #af904f;
margin-top: 10px;
  }

 .parrafo-ganon, .parrafo-link, .parrafo-zelda {
  width: 100%;
}

.seccion-ganon, .seccion-link, .seccion-zelda {
  width: 80%;
  max-width: 80%;
} 

.cita-personaje {
width: 90%;
 padding: 10px;
 align-self: center;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .img-resumen {
    width: 60%;
  }
.tarjeta-zora,
.tarjeta-orni,
.tarjeta-gerudo,
.tarjeta-goron {
  margin: auto;
}
.trailer-foto {
    width:  480px;
  }
}

.parrafo-ganon, .parrafo-link, .parrafo-zelda {
  width: 100%;
}

.seccion-ganon, .seccion-link, .seccion-zelda {
  width: 80%;
}