
* {
  box-sizing: border-box;
}

body {
  background: #0e0e0e;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(27, 27, 27) 49%,
    rgb(0, 0, 0) 92%
  );
  margin: 0%;
}


html {
  scroll-behavior: smooth;
  /* Ajusta este valor al alto de tu barra + un extra de cortesía */
  scroll-padding-top: 130px;
}

.barra-navegacion {
  background: #000000e5;
  display: flex;
  position: fixed;
  justify-content: right;
  align-items: center;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #dcba708a;
  z-index: 1000;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0;
}

#botones {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  gap: 40px;
  align-items: center;
}

#botones a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

#botones a:hover {
  color: #dcba70;
  transition: all 0.3s ease;
}

#logo-barra{
  margin-right: auto;
}

.contenedor-foto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado-general {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px;
}

.foto-principal {
  opacity: 0.5;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  margin-top: 50px;
}

.img-resumen {
width: 700px;
border-radius: 18px;
opacity: 0.9;
}

h1 {
  font-family: "Lexend", sans-serif;
  color: #ebc677;
  position: absolute;
  text-align: center;
  margin: 0;
  text-shadow: 3px 3px 8px rgba(235, 190, 94, 0.641);
  font-size: 60px;
  width: 70%;
}

.parrafo1 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
  color: rgb(91, 91, 91);
  margin-top: 40px;
  font-size: 15px;
}

h2 {
  font-family: "Lexend", sans-serif;
  color: #ddb764;
  width: 60%;
  font-weight: 600;
  font-size: 45px;
  margin: 0;
  margin-top: 20px;
  text-align: left;
}



p {
  font-family: "Lexend", sans-serif;
  color: rgb(255, 255, 255);
  width: 60%;
  font-size: 18px;
  justify-content: center;
  line-height: 1.5;
}


 /* TARJETAS PROTAGONISTAS */
.seccion-protagonistas {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.seccion-zelda, .seccion-link, .seccion-link, .seccion-ganon {
width: 100%;
  max-width: 55%;
  min-width: 0;
  display: flex;
  margin-top: 30px;
  border: 2px solid #af904f;
  margin: 0 auto;
  justify-content: space-between;
align-items: stretch;
border-radius: 20px;
overflow: hidden;
flex-direction: column;
background-color: #0f0f0f;
}

.seccion-zelda:hover, .seccion-link:hover, .seccion-link:hover, .seccion-ganon:hover {
  border-color: #ebc677;
  box-shadow: 0 0 20px rgba(255, 232, 181, 0.397);
  transition: all 0.4s ease;
}


.informacion-abajo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.linea-dorada {
  background-color: #af904f; 
 padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  width: 100%;
  text-align: left;

}

.subtitulo-zelda, .subtitulo-link, .subtitulo-ganon {
  font-family: "Lexend", sans-serif;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.85rem;
  font-weight: bold;
}

.titulo-zelda, .titulo-link, .titulo-ganon {
  color: #dcba70;
  font-size: 2.5rem;
  text-shadow: 7px 1px #dcba7038;
}

.img-zelda-seccion, .img-link-seccion, .img-ganon-seccion {
  flex: 1;
  width: 100%;
  max-width: 240px; 
 min-width: 0;
  object-fit: cover;
  display: block;
}

.info-personaje {
  flex: 2;
  text-align: left;
  min-width: 0;
 padding-left: 40px;
}

.parrafo-zelda, .parrafo-link, .parrafo-ganon{
  color: #e9e9e9e1;
width: 100%;
  max-width: 90%;
  min-width: 200px;
}

.cita-personaje {
    padding-left: 20px;
   margin-bottom: 20px;
    border-left: 3px solid #af904f; 
    font-family: "Lexend", sans-serif;
    font-style: italic;
    color: #dcba70;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 500px; 
    opacity: 0.9;
    width: 90%;
}

.centrado-tarjetas {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
  max-width: 850px;
  margin: auto;
  gap: 20px;
  margin-bottom: 50px;
}

.tarjeta-zora,
.tarjeta-orni,
.tarjeta-gerudo,
.tarjeta-goron {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #af904f;
  padding: 20px;
  border-radius: 15px;

  flex: 1 1 410px;      /* 1: Crece, 1: Se encoge, 350px: tamaño base */
    max-width: 450px;
}

.titulo-zora,
.titulo-gerudo,
.titulo-goron,
.titulo-orni {
  color: #cfac5f;
    text-shadow: 6px 1px #dcba7038;
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-size: 30px;
}

.tarjeta-zora img,
.tarjeta-goron img,
.tarjeta-orni img {
  width: 80%;
  height: 250px;
  display: block;
  margin-top: 10px;
  object-fit: contain;
}

.tarjeta-gerudo img {
  width: 50%;
  height: 250px;
  display: block;
  margin-top: 10px;
  object-fit: contain;
}

.resaltado-parrafos {
  font-family: "Lexend", sans-serif;
  color: #d2ae5f;
  font-weight: 700; /* Me permite engrosar la fuentee*/
}

.texto-zora,
.texto-orni,
.texto-gerudo,
.texto-goron {
  font-family: "Lexend", sans-serif;
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  text-align: center;
  margin-top: 5px;
}

.trailer {
  text-align: center;
}

.trailer-foto {
  margin-top: 10px;
  border-radius: 15px;
}

.texto-trailer h2 {
  display: flex;
  text-align: center;
}

.linea {
  height: 1px;
  background: #af904f;
  width: 60%;
  margin-top: 40px;
}

.tarjeta-zora:hover,
.tarjeta-orni:hover,
.tarjeta-goron:hover,
.tarjeta-gerudo:hover {
  transform: scale(1.05);
    border-color: #ebc677;
  box-shadow: 0 0 20px rgba(255, 232, 181, 0.267);
}

.tarjeta-zora,
.tarjeta-orni,
.tarjeta-goron,
.tarjeta-gerudo {
  transition: all 0.4s ease; 
}

.resaltado-creador {
  font-family: "Lexend", sans-serif;
  color: #d2ae5f;
  font-weight: 700;
      text-decoration: none;
}

.creador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Lexend", sans-serif;
    font-size: 18px;
    color: #c0c0c0;
    padding-bottom: 50px;
    padding-top: 30px;
    transition: all 0.3s ease;
  }

.parrafo-tribus {
  margin-bottom: 40px;
}

.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.parrafo-habilidades {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
}

.parrafo-habilidades p {
  margin: 0;
  width: 60%;
}

 /* ---------------------------------TRIVIA------------------------------------*/
.barra-trivia {
  background: #0f0f0fe5;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #dcba708a;
  margin: 0;
}

.titulo-barra-trivia {
  color: #dbb866;
  font-size: 50px;
  font-family: "Lexend", sans-serif;
font-weight: 700;
margin: 0;
}

 .cuadro-trivia{
  width: 50%;
  height: auto;
  display: flex;
  background: #1d1d1d;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
    border: 2px solid #9e8246;
    position: absolute;
    top: 20%;
    left: 25%;
padding: 40px;
 }

#pregunta {
  font-family: "Lexend", sans-serif;
  color: #ebc064;
  font-size: 24px;
font-weight: 600;
border: #c0c0c0 2px;
padding-bottom: 20px;
text-align: center;
}

.opciones {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.boton{
    font-family: "Lexend", sans-serif;
  font-size: 18px;
  color: #ffffff;
background: #2c2c2c;
border: 1px solid #a38848;
height: 60px;
width: 95%; 
  max-width: 95%;
  border-radius: 10px;
    transition: all 0.3s ease;
} 

.boton:hover {
  background: #977e46;
  transition: all 0.3s ease;
   transform: scale(1.03);
border: 1px solid #ffeabd;
}


.boton-reinicio {
    width: 150px;
 padding: 15px;
  font-family: "Lexend", sans-serif;
  background: #222222;
  color: #ffffff;
  border: 2px solid #b98800d8;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 10px;
        border-radius: 20px;
}

 .boton-reinicio:hover, .boton-volver:hover {
  color: #c29d39;
  transform: scale(1.1);
}

#resultado {
  font-family: "Lexend", sans-serif;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  max-width: 600px;
  padding: 30px;
  line-height: 1.5;
}

.quitar-todo {
  display: none;
}


.boton-volver {
  width: 150px;
    font-family: "Lexend", sans-serif;
  font-size: 13px;
    background: #222222;
  color: #ffffff;
 padding: 15px;
   border: 2px solid #cea639;
      transition: all 0.3s ease;
      border-radius: 20px;
}

.titulo-mensaje {
    text-shadow: 7px 1px #dcba7038;
  font-size: 40px;
  text-align: center;
 justify-self: center;
 width: 100%;
 padding: 0;
 margin: 0;
 color: #cfa956;
font-weight: 700;
}
 /* ------------------------------------------------------------------------*/
 /* ----------------------------Seccion invitacion trivia zelda---------------------------------------*/
.seccion-trivia{
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #0e0e0e;
  align-items: center;
  border-bottom: 1px solid #cfa956;
    border-top: 1px solid #cfa956;
    padding: 75px;
    margin-top: 50px;
}

.titulo-invitacion {
  text-align: center;
  font-size: 40px;
  width: 100%;
   text-shadow: 7px 1px #dcba7038;
}

.texto-invitacion {
  text-align: center;
}

#boton-trivia {
  font-size: 16px;
  border-radius: 25px;
  padding: 15px;
background: #bd9b54;
color: #131313;
    font-family: "Lexend", sans-serif;
    font-weight: 700;
      transition: all 0.3s;
      border: 1px solid #9b7f44;
}
#boton-trivia:hover {
  background-color: #eec56d;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 767px) {
  .foto-principal {
    height: 65vh;
  }

  h1 {
    font-size: 35px;
  }

.parrafo1 {
    font-size: 13px;
    width: 90%;
  }

p {
  color: rgba(255, 255, 255, 0.842);
    width: 80%;
    font-size: 16px;
    text-align: left; 
    font-size: 16px;  
 line-height: 1.5;
  }

  
  h2 {
    width: 70%;
    font-size: 25px;
  }

  .img-resumen {
    padding-top: 10px;
    width: 80%;
  }

.tarjeta-zora,
.tarjeta-orni,
.tarjeta-gerudo,
.tarjeta-goron {
  width: 80%;
}

.centrado-tarjetas {
  flex-direction: column;
  align-items: center;
}

.parrafo-habilidades p {
  width: 80%;
}

.linea {
  width: 80%;
}

  .trailer-foto {
    width: 100%;
    height: 250px;
    
  }

.creador {
    font-size: 12px;
}

#botones a {
  font-size: 11px;
  padding: 8px 12px;
}

#botones {
    gap: 10px;
}

#logo-barra {
    display: none; 
  }

  #botones a:hover {
  color: #ffffff;
  transition: all 0.3s ease;
}

.tarjeta-zora:hover,
.tarjeta-orni:hover,
.tarjeta-goron:hover,
.tarjeta-gerudo:hover {
  transform: scale(1.0);
  background: rgb(10, 10, 10);
}
.creador {
    flex-direction: column;
  }

 .informacion-abajo {
  flex-direction: column;
 } 
 
 .img-ganon-seccion, .img-link-seccion, .img-zelda-seccion {
width: 100%;
max-width: 100%;
    border-top: 1px solid #af904f;
margin-top: 10px;
  }

 .parrafo-ganon, .parrafo-link, .parrafo-zelda {
  width: 100%;
}

.seccion-ganon, .seccion-link, .seccion-zelda {
  width: 80%;
  max-width: 80%;
} 

.cita-personaje {
width: 90%;
 padding: 10px;
 align-self: center;
}

.cuadro-trivia {
width: 90%;
left: 5%;
top: 15%;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .img-resumen {
    width: 60%;
  }
.tarjeta-zora,
.tarjeta-orni,
.tarjeta-gerudo,
.tarjeta-goron {
  margin: auto;
}
.trailer-foto {
    width:  480px;
  }
}

.parrafo-ganon, .parrafo-link, .parrafo-zelda {
  width: 100%;
}

.seccion-ganon, .seccion-link, .seccion-zelda {
  width: 80%;
}